<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
 <mapper namespace="model.MybatisMemberImpl">
 
 	<select id="getTotalCount" resultType="int" parameterType="model.MemberVO">
 		SELECT COUNT(*) from woo_member WHERE 1=1
 		<if test="searchTxt!=null and !searchTxt.equals('')"> 
 			AND ${searchField} like '%'||#{searchTxt}||'%' 
 		</if>
 		<if test="grade!=null">
 			AND grade = #{grade}
 		</if>
 		
 	</select>
 	 
 	<insert id="regist" parameterType="model.MemberVO">
 		 insert into woo_member(id, pass, mobile)
      values(#{id},#{pass},#{mobile})  
 	</insert>
 	
 	<select id="listPage" resultType="model.MemberVO">
 		SELECT * FROM (
 			SELECT Tb.*, rownum rNum FROM (
 				SELECT * FROM woo_member WHERE 1=1
 			 	<if test="searchTxt!=null and !searchTxt.equals('')">
 					AND ${searchField} like '%'||#{searchTxt}||'%'
 				</if>
 				<if test="grade!=null">
		 			AND grade = #{grade}
		 		</if>
 				ORDER BY id DESC
 			) Tb
 		)
 		WHERE rNum BETWEEN #{start} AND #{end}
 	</select>
 	
 	<delete id="delete">
 		DELETE FROM woo_member WHERE id=#{param1}
 	</delete>
 	
 	<!-- 수정폼 넘어가기전 패스워드 검증폼 처리하는 코드 -->
 	<select id="passwordAction" resultType="model.MemberVO">
 		 SELECT * FROM woo_member WHERE id=#{param1} AND pass=#{param2}
 	</select>
 	
 	<!--회원정보 수정  -->
 	<update id="changeInfomation">
 		UPDATE woo_member set mobile = #{param1}, pass = #{param2} where id = #{param3}
 	</update>
 	
 	<!--회원 탈퇴  -->
 	<delete id="deleteMemberAction">
		DELETE FROM woo_member WHERE id=#{param1} AND pass=#{param2} 	
 	</delete>
 	
 	
 	
 	<!-- 동네인증 -->
  	<select id="view" resultType="model.MemberVO">
  		SELECT * FROM woo_member WHERE id=#{0}
  	</select>
  	<update id="modify" >
  		UPDATE woo_member SET addr=#{0} WHERE id=#{1}
  	</update>
 	
 	<!-- 동네인증 거리계산 -->
 	<select id="distance" resultType="int">
 		SELECT DISTNACE_WGS84(#{0}, #{1}, #{2}, #{3}) FROM dual
 	</select>
	 
 	<!-- 네이버 아이디 로그인 처리 -->
 	<insert id="naverLoginAction" parameterType="model.MemberVO">
 		 insert into woo_member(id,mobile,pass)
      values(#{id},#{mobile},#{pass})  
 	</insert>
 	
 	<!-- 카카오 아이디 로그인 처리 -->
 	<insert id="kakaoLoginAction" parameterType="model.MemberVO">
 		 insert into woo_member(id,mobile,pass)
      values(#{id},#{mobile},#{pass})  
 	</insert>
	 
	 <delete id="deleteMember" parameterType="model.ParameterVO">
		DELETE FROM woo_member WHERE id in 
		<foreach collection="list" item="item" open="(" close=")" separator=",">
 			#{item}
		</foreach>
	</delete>
	 
 </mapper>
