<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper  namespace="model.MypageDAOImpl" > 
	<!-- 카테고리에서 좋아요 누를 때 -->
	<!--ㅡmypage goods에 연결된 String 가져오기 -->	
	 <select id="selectLike" resultType="String">
	 	select goods from mypage where id = #{0}
	 </select>
	 
	 <!--ㅡmypage goods에 새로운 idx update -->	
	<update id="updateLike" >
 		update mypage set goods = #{0} where id = #{1}
 	</update>


	<!-- 좋아요 토글 -->
  	<update id="likeCheck">
  		update WOO_BOARD set like_check = -like_check where idx = #{0}
  	</update>
  	
  	<!-- likeCheck select -->
  	<select id="selectLikeCheck" resultType="int">
  		select like_check from WOO_BOARD where idx = #{0}
  	</select>
  	
  	<update id="likeCount_minus">
  		update woo_board set likecount = likecount -1 where idx = #{1}
  	</update>
  	<update id="likeCount_puls">
  		update woo_board set likecount = likecount +1 where idx = #{1}
  	</update>
  	


	 
	 
	 
	 
	 
	 <select id="selectBoard" resultType="model.WooBoardVO" parameterType="model.ParameterVO"> 
  		SELECT * FROM (
  			SELECT Tb.*, rownum rNum FROM(
  				SELECT * FROM WOO_BOARD
  					WHERE idx in
	 	<foreach collection="list" item="item" open="(" close=")" separator=",">
 			#{item}
		</foreach>
  		ORDER BY idx DESC) TB) WHERE rNum BETWEEN #{start} AND #{end}
  	</select>
	 
	 
	 
	 <select id="getTotalCount" resultType="int" parameterType="model.ParameterVO">
  		SELECT COUNT(*) from WOO_BOARD 	
  		WHERE idx in
  		 	<foreach collection="list" item="item" open="(" close=")" separator=",">
 			#{item}
		</foreach>	
  	</select>
  	
  	
  	
	
	
</mapper>