<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="model.WooBoardListImpl">
	
	<select id="selectMaxOrder" resultType="int">
		SELECT COUNT(*) FROM woo_boardlist WHERE location=#{location}
	</select>
	
	<select id="selectorder" resultType="int">
		SELECT boardorder FROM woo_boardlist WHERE boardlistidx=#{idx}
	</select>
	
	<select id="selectLocation" resultType="String">
		SELECT location FROM woo_boardlist WHERE boardlistidx=#{idx}
	</select>	
	
	<select id="selectLocationOrder" resultType="map">
		SELECT count(*) c, locationname FROM woo_boardlist GROUP BY locationname
	</select>
	
	<insert id="createboard" parameterType="model.WooBoardListVO"> 
		INSERT INTO woo_boardlist (boardlistidx, bname, location, locationname, requestname, boardorder) VALUES (boardlist_seq.nextval, #{bname}, #{location}, #{locationname}, #{requestname}, ${boardorder})
	</insert>
	
	<select id="selectBoard" resultType="model.WooBoardListVO">
		SELECT * FROM woo_boardlist 
		<if test="!(_parameter.equals('../admin/addBoard.woo'))">
			WHERE location=#{0}
		</if>
		ORDER BY location, boardorder
	</select>
	
	<update id="editboard" parameterType="model.WooBoardListVO">
		UPDATE woo_boardlist SET bname=#{bname}, location=#{location}, requestname=#{requestname}, locationname=#{locationname}, type=#{type}, boardorder=${boardorder} WHERE boardlistidx=#{boardlistidx}
	</update>
	
	<delete id="deleteboard" parameterType="String">
		DELETE FROM woo_boardlist WHERE boardlistidx=#{0}
	</delete>
	
	<update id="updateOrder">
		UPDATE woo_boardlist SET boardorder = boardorder-1 WHERE location=#{0} AND boardorder>#{1}
	</update>
	
	<update id="updateOrder1" parameterType="String">
		UPDATE woo_boardlist SET boardorder = 0 WHERE boardlistidx=#{0}
	</update>
	 
	<update id="updateOrder2" parameterType="model.ParameterVO">
		UPDATE woo_boardlist SET boardorder = boardorder + ${num} WHERE boardorder between ${start} AND ${end} AND locationname=#{locationname}
	</update>
	
	<update id="updateOrder3" parameterType="model.WooBoardListVO">
		UPDATE woo_boardlist SET boardorder = #{boardorder} WHERE boardlistidx=#{boardlistidx}
	</update>
	
	<!--bname 검색  -->
	<select id="selectBname" resultType="model.WooBoardListVO">
		SELECT * FROM woo_boardlist
	</select>
</mapper> 
