<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="model.WooChatImpl">
	<select id="selectRoom" resultType="model.WooChatRoomVO">
		SELECT * FROM woo_chatroom WHERE sellerid=#{0} or buyerid=#{0} ORDER BY lastchatdate desc
	</select>
	<select id="selectLastChat" resultType="model.WooChattingVO">
		SELECT * FROM woo_chatting WHERE chatroomidx=#{0} ORDER BY chatDate
	</select> 
	<insert id="saveMessage" parameterType="model.WooChattingVO">
		INSERT INTO woo_chatting (chattingidx, id, chatting, chatroomidx) values (seq_woo_chat.nextval, #{id}, #{chatting}, #{chatroomidx})
	</insert>
	<update id="updateLastChatTime">
		UPDATE woo_chatroom SET lastchatdate = #{1} WHERE chatroomidx = #{0}
	</update>
	
	<select id="selectChatting" resultType="model.WooChattingVO">
		SELECT * FROM woo_chatting WHERE chatroomidx = #{0} ORDER BY chatDate
	</select>
</mapper> 
